.breadcrumbs {
  padding: 20px 0;
  align-items: center;
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  color: #03224f;
  text-decoration: inherit;
}
